@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overscroll-behavior: none;
  font-size: 14px;
  margin: 0;
  caret-color: transparent;
  color: inherit;
}

html {
  overflow: hidden;
}

input {
  caret-color: hsl(var(--bc));
}

.input {
  caret-color: hsl(var(--bc));
}